#!/usr/bin/make -f

PACKAGE := $(shell dpkg-parsechangelog | awk '/Source:/ { print $$2 }')
DESTDIR := $(CURDIR)/debian/$(PACKAGE)
DESTREAL := /usr/lib/rbenv/versions/1.8.7-p358

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --prefix=$(DESTREAL)

override_dh_auto_install:
	dh_auto_install
	cd rubygems && \
		export RUBYLIB="$(shell ./miniruby -e 'puts $:.map { |path| File.join("$(DESTDIR)$(DESTREAL)", path) }.join(":")')" && \
		../miniruby setup.rb
	sed -ri 's|^#!.*($(DESTREAL)/bin/ruby)$$|#!\1|' $(DESTDIR)$(DESTREAL)/bin/gem
